<div class="row mt-2 justify-content-md-center">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">
          You loved the <%=@dish.name%> at...

            <div class="badge badge-primary float-right">
              <%=@dish.cuisine.name%>
            </div>
        </h4>
      </div>

      <ul class="list-group">
        <li class="list-group-item">
          <form action="/create_bookmark" class="form-inline float-left" method="post">
              <input type="hidden" name="dish_id" value="<%=@dish.id%>">
              <input type="hidden" name="user_id" value="<%=current_user.id%>">
              <label for="venue_id" class="control-label sr-only">
                Venue
              </label>
              <select name="venue_id" id="venue_id" class="form-control form-control-sm mr-sm-1"><option value="">Choose a venue...</option>
                <% Venue.all.each do |venue| %>
                  <option value="<%= venue.id%>"><%=venue.name%></option>
                <% end %>
              </select>
              <button class="btn btn-primary btn-sm">
                <i class="fa fa-heart"></i>
              </button>
          </form>
          <small class="float-right text-muted">
            right now
          </small>
        </li>                            
        <% Bookmark.where(:dish_id => @dish.id).where(:user_id => current_user.id).each do |bookmark| %>  
          <li class="list-group-item">
            <p>
              <a href = "/venues/<%=bookmark.id%>" >
                <%=Venue.find(bookmark.venue_id).name%>
              </a>
              <small class="float-right text-muted">
                <%= time_ago_in_words(bookmark.created_at) %>
  
                <a href="/bookmarks/<%=bookmark.id%>/edit">
                  <i class="fa fa-fw fa-edit"></i>
                </a>
  
                <a href="/delete_bookmark/<%=bookmark.id%>">
                  <i class="fa fa-fw fa-trash-o"></i>
                </a>
              </small>
            </p>
          </li>
        <% end %>
      </ul>
    <div class="card-footer text-center">
      <a href="/dishes" class="btn btn-block btn-secondary">
        <i class="fa fa-chevron-left"></i>
      </a>
    </div>
  </div>
</div>


















